<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClarizenSSISIntegration.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClarizenSSISIntegration.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="username" value="" />
    <add key="pass" value="" />
    <add key="clarizenTimeout" value="6000" /><!--in miliseconds-->
    <add key="projectCsvDir" value="C:\Users\Amour\Documents\GitHub\SSIS_v1\ClarizenSSISIntegration\Samples\Projects"/>
    <add key="tasksCsvDir" value="C:\Users\Amour\Documents\GitHub\SSIS_v1\ClarizenSSISIntegration\Samples\Tasks"/>
    <add key="usersCsvDir" value="C:\Users\Amour\Documents\GitHub\SSIS_v1\ClarizenSSISIntegration\Samples\Users"/>
    <add key="updateTasksCsvDir" value="C:\Users\Amour\Documents\GitHub\SSIS_v1\ClarizenSSISIntegration\Samples\UpdateTasks"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <applicationSettings>
    <ClarizenSSISIntegration.Properties.Settings>
      <setting name="ClarizenSSISIntegration_ApiClarizenProxy_Clarizen"
        serializeAs="String">
        <value>
          https://api.clarizen.com/v1.0/Clarizen.svc
        </value>
      </setting>
      <setting name="RevenueCurrencyType" serializeAs="String">
        <value>Currency Type</value>
      </setting>
      <setting name="C_SFDC_Customer_Number" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Contact_Name" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Contact_Job_Title" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Contact_Phone" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Contact_Mobile" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Contact_Email" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="SYSID" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Opportunity_Number" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC__Customer_PO" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Sales_Rep_Name" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Sales_Rep_Number" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Source_of_Opp" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="ProjectManager" serializeAs="String">
        <value>User</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Issue_adv_Payment_Percentage" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_OpportunityTotalBeforeDiscount" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Opportunity_Discount" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_OpportunityTotalAfterDiscount" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_SFDC_Opportunity_Special_Comment" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_OriginatedFrom" serializeAs="String">
        <value>C_GenericTaskOriginatedFrom</value>
      </setting>
      <setting name="C_ProductSFDCCode" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_ProductSFDCQuantity" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_PricingUnit" serializeAs="String">
        <value>C_GenericTaskPricingUnit</value>
      </setting>
      <setting name="C_SFDCProductListPriceNew" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_POState" serializeAs="String">
        <value>C_GenericTaskPOState</value>
      </setting>
      <setting name="C_TranslatorPONumber" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_TotalPO" serializeAs="String">
        <value>System.Double, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_PricingCurrency" serializeAs="String">
        <value>C_GenericTaskPricingCurrency</value>
      </setting>
      <setting name="OrderID" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="Manager" serializeAs="String">
        <value>User</value>
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="BusinessAddress" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_TCountry" serializeAs="String">
        <value>C_UserTCountry</value>
      </setting>
      <setting name="OfficePhone" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="MobilePhone" serializeAs="String">
        <value>System.String, mscorlib, Culture=neutral</value>
      </setting>
      <setting name="C_Currency" serializeAs="String">
        <value>C_UserCurrency</value>
      </setting>
    </ClarizenSSISIntegration.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ClarizenSSISIntegration.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </ClarizenSSISIntegration.Properties.Settings>
  </userSettings>
</configuration>